@import '../../styles/variables';

.container {
  width: 50%;
  min-width: 500px;
  height: auto;
  background: white;
  border: 2px solid $yellow;
  box-shadow: 0px 3px 5px $lightGreen;
  padding: 4%;
  justify-content: space-around;
  height: auto;
  flex-wrap: wrap;
}