@import url('https://fonts.googleapis.com/css?family=Raleway:200,300&display=swap');

/* Breathless */

/* Software */

/* Spatial White */

body {
  --green: rgb(150, 169,160);
  --lightgreen: rgb(213, 224, 216);
  --yellow: rgb(222, 153, 0); 
  --gray: rgb(50, 60, 54);
  min-height: 100%;
  background: rgb(251, 251, 251);
}


#root {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 125px auto 300px  / 1.3fr 4fr 1.3fr;
  grid-row-gap: 20px;
  font-family: 'Raleway', Candara, sans-serif;
}

h2 {
  color: var(--yellow);
  text-decoration: underline;
  text-decoration-color: var(--green);
}

.App {
  height: 100vh;
  width: 100%;
  grid-area: 1 / 1 / 4 / 4;
  display: grid;
  grid-template: 125px auto 100px  / 20% 4fr 1.5fr;
  grid-row-gap: 20px;
}

.Header {
  grid-area: 1 / 1 / 1 / 4;
  display: grid;
  grid-template: 100% / 75% 25%;
  grid-gap: 2%;
}

#Header {
  color: var(--yellow);
  font-variant: small-caps;
}

#Sub-header {
  margin-top: -20px;
  color: var(--green);
}

.Title {
  grid-area: 1 / 1 / 1 / 3;  
  margin-left: 20px;
}

.Social-icons {
  grid-area: 1 / 2 / 1 / 3;
  margin: 7% 20%;
}

.social-icon {
  height: 27px !important;
  float: right;
  margin-right: 15px;
}

.Social-icons a {
  padding: 0;
}

.Social-icons a:hover {
  text-decoration: none;
  text-decoration-color: none;
  background-color: inherit;
}

#Mobile-menu {
  display: none;
}

.Menu {
  grid-area: 2 / 1 / 4 / 2;
  margin: 0% 40px 2% 20px;
  padding: 0% 0% 0% 5%;
}

.Menu-links h4, a {
  margin: 0% 0%;
  padding: 2% 10px;
  line-height: 150%;
  text-decoration: none;
  color: var(--yellow);
  display: block;
  padding-right: 5%;
}

.menuLink:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: var(--yellow);
  background-color: var(--green);
}

.Active {
  color: white;
  text-decoration: underline;
  text-decoration-color: var(--yellow);
  background-color: var(--lightgreen);
}

.About {
  padding: 7%;
}

.About, .Propertii, .Code-Coach, .Contact, .EB-Design, .Home, .Wiki-trash {
  grid-area: 2 / 2 / 2 / 3;
  height: auto;
  background: white;
  /* border-top: 1px solid var(--yellow); */
  /* border-right: 1px solid var(--yellow); */
  border: 2px solid var(--yellow);
  box-shadow: 0px 3px 5px var(--lightgreen); 
}

.Propertii, .Code-Coach, .Contact, .EB-Design, .Home, .Wiki-trash {
  padding: 4%;
}

.Page-header {
  margin-top: -15px;
  margin-right: 10px;
}

p {
  color: var(--gray);
}

.Home {
  padding: 1%;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

h4 {
  margin: 0% 5% 0% 0%;
  display: inline-block;
}

#Headshot {
  width: 200px;
  height: 200px;
  float: right;
}

iframe {
  display: block;
  margin: 0 auto 5%;
  width: 560px;
  height: 315px;
}

.projectImg {
  display: block;
  margin: 0 auto 5%;
  border: 1px solid black;
  height: auto;
  width: 100%;
}

.Home-icon {
  margin: 20px auto;
  width: 191px;
  height: 200px;
  align-content: center;
}

.Grey-icon {
  width: 125px;
  height: 125px;
  margin: 0px 33px;
  z-index: 2;
  filter: rgb(220, 216, 207);
  -webkit-filter: opacity(1);
  -webkit-transition: all .8s ease-in-out;
  position: absolute;
}

.Color-icon {
  width: 125px;
  height: 125px;
  margin: 0px 33px;
  -webkit-filter: opacity(0);
  -webkit-transition: all .8s ease-in-out;
  position: absolute;
}

.Home-icon:hover .Grey-icon {
  width: 125px;
  height: 125px;
  -webkit-filter: opacity(0);
  -webkit-transform: scale(1.01);
  position: absolute;
}

.Icon-text {
  -webkit-filter: opacity(0);
  -webkit-transition: all .8s ease-in-out;
  position: relative;
  top:125px;
  text-align: center;
}

.Home-icon h4, .Home-icon h6  {
  display: block;
  text-align: center;
  margin: 0px 0px; 
}

.Home-icon:hover h4, .Home-icon:hover h6, .Home-icon:hover .Color-icon  {
  -webkit-filter: opacity(1);
  -webkit-transform: scale(1.01);
}

#Contact-content {
  width: 95%;
  color: var(--green);
  margin: 0 auto;
}

#Email {
  color: var(--yellow);
  display: inline;
  margin: 0% 0%;
  padding: 0% 0px;
  line-height: 100%;
  text-decoration: none;
  padding-right: 0%;
}

#Email:hover {
  text-decoration: underline;
  text-decoration-color: var(--green);
  background:inherit;
}

.Mountain {
  width: 20%;
  margin: 15% 40% 5%;
  opacity: .6;
}

.linkIcon {
  stroke: var(--lightgreen);
  fill: var(--green);
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.componentHeaderWrapper {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
}

.linkIcon:hover {
  stroke: var(--green);
  fill: var(--green);
  margin-right: 10px;
}

.linkIcon a:hover {
  background-color: rgb(251, 251, 251);
}

.componentHeaderWrapper a {
  width: auto;
  height: 70px;
  display: flex;
  flex-direction: column;
  width: 70px;
  align-items: center;
}
#Tech-list{
  color: var(--yellow);
  margin-top: -10px;
  padding-bottom: 20px;
}