#root {
  height: 100vh;
}
.App {
  height: 100%;
  display: grid;
  grid-template: 12% 6% 70% 12%  / 1fr;
}

.App-header {
  grid-area: 1 / 1 / 1 / 2;
}

.App-header h1, .App-header h3 {
  margin: 1.25% 2%;
}