@import url('https://fonts.googleapis.com/css?family=Raleway:200,300&display=swap');

@media only screen and (max-width: 600px) {
    body {
    --green: rgb(150, 169,160);
    --lightgreen: rgb(213, 224, 216);
    --yellow: rgb(222, 153, 0); 
    --gray: rgb(50, 60, 54);
    min-height: 100%;
    min-width: 100%;
    background: rgb(251, 251, 251);
    }


    #root {
        min-height: 100vh;
        height: 100%;
        width: 100%;
        display: grid;
        grid-row-gap: 5px;
        grid-template: 150px auto 50px / 10px auto 10px;
        font-family: 'Raleway', sans-serif;
    }

    /* h2 {
        color: var(--yellow);
        text-decoration: underline;
        text-decoration-color: var(--green);
    } */

    .App {
        height: 100vh;
        width: 100%;
        grid-area: 1 / 1 / 5 / 4;
        display: grid;
        grid-template: 150px 50px auto 50px  / 1fr 730px 1fr;
        grid-row-gap: 5px;
    }

    .Header {
        grid-area: 1 / 1 / 1 / 4;
        display: grid;
        margin-top: 2%;
        grid-template: 100% / 75% 25%;
        grid-gap: 1%;
    }

    /* #Header {
        color: var(--yellow);
        font-variant: small-caps;
    } */

    #Sub-header {
        margin-top: -2%;
        color: var(--green);
        font-size: 100%;
    }

    .Title {
        font-size: 135%;
        grid-area: 1 / 1 / 1 / 3;
        margin-left: 15px;
        margin-top: 0px;
    }

    .Social-icons {
        grid-area: 1 / 2 / 1 / 3;
        margin: 7% 10%;
    }

    .social-icon {
    height: 30px !important;
    float: right;
    margin-right: 5px;
    }

    /* .Social-icons a {
        padding: 0;
    } */

    /* .Social-icons a:hover {
    text-decoration: none;
    text-decoration-color: none;
    background-color: inherit;
    } */


    .Menu {
        grid-area: 2 / 1 / 2 / 4;
        height: auto;
        margin: 0%;
        padding: 0%;
        text-align: center;
        border: 2px solid var(--yellow);
        background: var(--lightgreen);
    }

    .Menu h4, a {
        display: inline-block;
        text-align: center;
        margin: 0%;
        padding: 7px 7px;
        line-height: 100%;
        text-decoration: none;
        color: var(--yellow);
        font-size: 115%;
    }

    a:hover {
        color: white;
        text-decoration: underline;
        text-decoration-color: var(--yellow);
        background-color: var(--green);
    }

    .Active {
        color: white;
        text-decoration: underline;
        text-decoration-color: var(--yellow);
        background-color: var(--green);
    }

    .About, .Bucketlist, .Code-Coach, .Contact, .EB-Design, .Home, .Wiki-trash {
        grid-area: 2 / 2 / 2 / 3;
        min-height: 700px;
        background: white;
        margin-top: 15%;
        padding: 4%;
        min-width: 90%;
        /* border-top: 1px solid var(--yellow); */
        /* border-right: 1px solid var(--yellow); */
        border: 2px solid var(--yellow);
        box-shadow: 0px 3px 5px var(--lightgreen); 
    }

    .Bucketlist h4, .Code-Coach h4, .EB-Design h4, .Wiki-trash h4 {
        display: block;
        margin-right: 0px;
        margin-bottom: 2%;
        text-align: left;
        font-size: 135%;
    }

    .Bucketlist a:hover, .Code-Coach a:hover, .EB-Design a:hover, .Wiki-trash a:hover {
        color: var(--yellow);
        text-decoration: none;
        text-decoration-color: none;
        background-color: inherit;
    }

    .Page-header {
        margin-top: 0%;
        margin-right: 10px;
        width: 50%;
        font-size: 220%;
    }

    .Contact h3 {
        font-size: 145%;
        text-align: center;
    }

    p {
        color: var(--gray);
        font-size: 145%;
    }

    .Home {
        padding: 1%;
        display: grid;
        grid-template: auto auto / 1fr 1fr 1fr 1fr;
        grid-column-gap: 0;
        grid-row-gap: 10px;
    }

    h4 {
        margin: 0%;
        display: inline-block;
        width: auto;
    }

    .App-link {
        padding: 0% 1px;
    }

    #Headshot {
        width: 200px;
        height: 200px;
        float: right;
    }

    iframe {
        display: block;
        margin: 0 auto 5%;
    }

    .Home-icon {
        margin: 10px 0;
        width: 100%;
        height: 260px;
    }

    .Grey-icon {
        width: 102.5px;
        margin: 0px 40px 0px;
        height: auto;
        filter: rgb(220, 216, 207);
    }

    .Color-icon {
        width: 102.5px;
        margin: 0px 40px;
        height: auto;
    }

    .Home-icon:hover .Grey-icon {
        width: 100px;
        height: auto;
    }

    .Icon-text {
        text-align: center;
        margin-top: 0px;
        width: auto;
    }

    .Home-icon h4 {
        font-size: 150%;
    }

    .Home-icon h6 {
        font-size: 100%;
    }

    .Home-icon h4, .Home-icon h6  {
    display: block;
    text-align: center;
    margin: 0px 0px; 
    }

    .Home-icon:hover h4, .Home-icon:hover h6 {
    -webkit-filter: opacity(1);
    -webkit-transform: scale(1.01);
    }

    #Contact-content {
    width: 95%;
    color: var(--green);
    margin: 0 auto;
    }

    #Email {
    color: var(--yellow);
    display: inline;
    margin: 0% 0%;
    padding: 0% 0px;
    line-height: 100%;
    text-decoration: none;
    padding-right: 0%;
    }

    #Email:hover {
    text-decoration: underline;
    text-decoration-color: var(--green);
    background:inherit;
    }

    .Mountain {
    width: 20%;
    margin: 15% 40% 5%;
    opacity: .6;
    }

}