@import url('https://fonts.googleapis.com/css?family=Raleway:200,300&display=swap');

@media only screen and (max-width: 1100px) {
    body {
    --green: rgb(150, 169,160);
    --lightgreen: rgb(213, 224, 216);
    --yellow: rgb(222, 153, 0); 
    --gray: rgb(50, 60, 54);
    min-height: 100%;
    max-width: 100vw;
    background: rgb(251, 251, 251);
    }


    #root {
        min-height: 100vh;
        height: 100%;
        width: 100vw;
        display: grid;
        grid-row-gap: 5px;
        grid-template: 150px auto 300px / 1% 98% 1%;
        font-family: 'Raleway', sans-serif;
    }

    /* h2 {
        color: var(--yellow);
        text-decoration: underline;
        text-decoration-color: var(--green);
    } */

    .App {
        height: 100%;
        width: 100vw;
        grid-area: 1 / 1 / 4 / 3;
        display: grid;
        grid-template: 150px 50px auto 50px  / 1% 98% 1%;
        grid-row-gap: 5px;
    }

    .Header {
        grid-area: 1 / 1 / 1 / 3;
        display: grid;
        margin-top: 2%;
        grid-template: 100% / 70vw 30vw;
        max-width: 99vw;
        grid-gap: 1%;
    }

    /* #Header {
        color: var(--yellow);
        font-variant: small-caps;
    } */

    #Sub-header {
        margin-top: -2%;
        color: var(--green);
        font-size: 100%;
        max-width: 99vw;
    }

    .Title {
        /* font-size: 100%;
        grid-area: 1 / 1 / 1 / 3;   */
        margin-left: 50px;
        margin-top: 0px;
    }

    .Social-icons {
        grid-area: 1 / 2 / 1 / 3;
        margin: 7% 10%;
    }

    .social-icon {
    height: 30px !important;
    float: right;
    margin-right: 10px;
    }

    /* .Social-icons a {
        padding: 0;
    } */

    /* .Social-icons a:hover {
    text-decoration: none;
    text-decoration-color: none;
    background-color: inherit;
    } */

    #Mobile-menu {
        display: inline-block;
        font-size: 150%;
        margin-top: 1%;
        margin-right: 0;
        color: var(--yellow);
        text-decoration: underline;
        text-decoration-color: var(--green);
        stroke: var(--yellow);
        fill: var(--yellow);
    }

    .Menu {
        grid-area: 2 / 1 / 2 / 4;
        height: auto;
        margin: 0%;
        padding: 0%;
        z-index: 1;
        text-align: center;
    }

    .Menu-links h4, a {
        text-align: center;
        margin: 0%;
        width: 100%;
        padding: 7px 0px;
        line-height: 100%;
        text-decoration: none;
        color: var(--yellow);
    }

    #Display-false {
        display: none;
        background: var(--lightgreen);
    }

    #Display-true {
        background: var(--lightgreen);
        display: block;
        z-index: 2;
        margin-left: -2px;
        border-top: none !important;
        border: 2px solid var(--green);
        width: 100%;
    }

    a:hover {
        color: white;
        text-decoration: underline;
        text-decoration-color: var(--yellow);
        background-color: var(--green);
    }

    .Active {
        color: white;
        text-decoration: underline;
        text-decoration-color: var(--yellow);
        background-color: var(--green);
    }

    .About, .Bucketlist, .Code-Coach, .Contact, .EB-Design, .Home, .Wiki-trash {
        grid-area: 2 / 2 / 2 / 3;
        height: auto;
        background: white;
        margin-top: 15%;
        padding: 4%;
        /* border-top: 1px solid var(--yellow); */
        /* border-right: 1px solid var(--yellow); */
        border: 2px solid var(--yellow);
        box-shadow: 0px 3px 5px var(--lightgreen); 
    }

    .Bucketlist a, .Code-Coach a, .EB-Design a, .Wiki-trash a {
        display: block;
        margin-right: 0px;
        text-align: left;
    }

    .Bucketlist a:hover, .Code-Coach a:hover, .EB-Design a:hover, .Wiki-trash a:hover {
        color: var(--yellow);
        text-decoration: none;
        text-decoration-color: none;
        background-color: inherit;
    }

    .Page-header {
        margin-top: 0%;
        margin-right: 10px;
        width: 50%;
    }

    p {
        color: var(--gray);
    }

    .Home {
        padding: 1%;
        display: grid;
        grid-template: auto auto / 1fr 1fr 1fr 1fr;
        grid-column-gap: 0;
        grid-row-gap: 10px;
    }

    h4 {
        margin: 0% 6% 0% 0%;
        display: inline-block;
        width: auto;
    }

    .App-link {
        display: block;
        padding: 0% 1px;
    }

    #Headshot {
        width: 200px;
        height: 200px;
        float: right;
    }

    iframe {
        display: block;
        margin: 0 auto 5%;
    }

    .Home-icon {
        justify-content: center;  
        margin: 10px auto;
        width: 100%;
        height: 260px;
        z-index: 0;
    }

    .Icon {
        margin-left: calc(50% - 51.25px);
    }

    .Grey-icon {
        width: 102.5px;
        margin: 0px;
        position: auto;
        height: auto;
        filter: rgb(220, 216, 207);
    }

    .Color-icon {
        width: 102.5px;
        margin: 0px;
        height: auto;
        z-index: 1;
    }

    .Home-icon:hover {
        width: 100%;
    }

    .Home-icon:hover .Grey-icon {
        width: 100px;
        height: auto;
    }

    .Icon-text {
        text-align: center;
        margin-top: 100px;
        width: auto;
    }

    .Home-icon h4, .Home-icon h6  {
        display: block;
        text-align: center;
        margin: 0px 0px; 
    }

    .Home-icon:hover h4, .Home-icon:hover h6 {
        -webkit-filter: opacity(1);
        -webkit-transform: scale(1.01);
    }

    #Contact-content {
    width: 95%;
    color: var(--green);
    margin: 0 auto;
    }

    #Email {
    color: var(--yellow);
    display: inline;
    margin: 0% 0%;
    padding: 0% 0px;
    line-height: 100%;
    text-decoration: none;
    padding-right: 0%;
    }

    #Email:hover {
    text-decoration: underline;
    text-decoration-color: var(--green);
    background:inherit;
    }

    .Mountain {
    width: 20%;
    margin: 15% 40% 5%;
    opacity: .6;
    }

}